.container{

}
.customLoader {
  width:50px;
  height:50px;
  border-radius:50%;
  padding:3px;
  background: 
    radial-gradient(farthest-side,#766DF4 95%,#0000) 50% 0/12px 12px no-repeat,
    radial-gradient(farthest-side,#0000 calc(100% - 5px),#766DF4 calc(100% - 4px)) content-box;
  animation:s6 2s infinite ;
}
@keyframes s6 {to{transform: rotate(1turn)}}
.likes{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.infoContainer{
    display: flex;
    align-items: center;
    gap: 50px;
}
.textContainer{
    flex: 1;
}
.loader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.userImageContainer{
    width: 50px;
    height: 50px;
    position: relative;
}
.userTextContaier{
    display: flex;
    flex-direction: column;
    gap: 2px;
    color: var(--softTextColor);
}
.username{
    font-size: 20px;
    font-weight: 500;
}
.title{
    font-size: 64px;
    margin-bottom: 50px;
}
.imageContainer{
    flex: 1;
    height: 350px;
    position: relative;
}
.image{
    object-fit: cover;
}

.user{
    display: flex;
    align-items: center;
    gap: 20px;
}
.avatar{
    object-fit: cover;
    border-radius: 50%;
}

.content{
    display: flex;
    gap: 50px;
}

.post{
    flex: 5;
    margin-top: 60px;
}
.descriprion p{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
}

@media screen and (max-width: 1536px) {
    .title{
        font-size: 3rem;
    }
}
@media screen and (max-width: 1280px) {
    .title{
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 1024px) {
    .imageContainer{
        display: none;
    }
}
@media screen and (max-width: 640px) {
    .title{
        font-size: 2rem;
    }
    .descriprion{
        font-size: 1rem;
    }
}