.container{
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
}
.imageContainer{
    flex: 1;
    height: 350px;
    position: relative;
}
.title{
    font-size: 24px;
    font-weight: 600;
    text-align: justify;
}
.readMore{
    background-color: green;
    width: max-content;
    padding: 10px;
    border-radius: 10px;
    color: white;
}
.textContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.image{
    object-fit: cover;
    height: 300px;
    width: 100%;
    border-radius: 10px;
}

.date{
    color: gray;
}
.category{
    color: crimson;
    font-weight: 500;
    cursor: pointer;
}
.desc{
    font-size: 1rem;
    font-weight: 300;
    color: var(--softTextColor);
    text-align: justify;
}
.link{
    border-bottom: 1px solid crimson;
    width: max-content;
    padding: 2px 0px;
}

@media screen and (max-width: 640px) {
    .container {
        flex-direction: column;
    }
    .imageContainer {
        flex: none; /* Remove the flex property for better control */
        width: 100%; /* Ensure the container takes full width */
        height: auto;
    }
    .image {
        width: 100%;
        height: auto; /* Allow the image to adjust its height */
    }
}
