.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.customLoader {
  width:50px;
  height:50px;
  border-radius:50%;
  padding:3px;
  background: 
    radial-gradient(farthest-side,#766DF4 95%,#0000) 50% 0/12px 12px no-repeat,
    radial-gradient(farthest-side,#0000 calc(100% - 5px),#766DF4 calc(100% - 4px)) content-box;
  animation:s6 2s infinite ;
}
.loader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
@keyframes s6 {to{transform: rotate(1turn)}}
.likes{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.wrapper{
    background-color: var(--softBg);
    padding: 150px 200px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-radius: 10px;
}
.socialButton{
    padding: 20px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    justify-content: center;
}
.socialButton:first-child{
    background-color: #ff5555;
}
.socialButton:nth-child(2){
    background-color: #111;
}
.socialButton:last-child{
    background-color: #087BEA;
}

@media screen and (max-width: 768px) {
    .wrapper{
        padding: 50px 100px;
    }
}
@media screen and (max-width: 640px) {
    .wrapper{
        padding: 30px;
    }
    .socialButton{
        font-weight: 400;
        font-size: 0.8rem;
    }
}